<h1>Hack Your Temperature</h1>
<form action="/" method="POST">
<label for="cityName"> write the name of the city </label>
<input type="text" name="cityName" id="cityName">
<input type="submit" value="Go!">
</form>
<p>
{{error}}
{{result}}
</p>